<section class="flex w-full flex-col space-y-10 pb-10 lg:space-y-20 lg:pb-20">
  <div class="flex flex-col items-center gap-4 px-4">
    <p class="text-primary-500 lg:text-7 text-xl font-black tracking-[-0.8px]">GREETING</p>
    <h2 class="text-7 text-center font-extrabold tracking-[-1.12px] text-gray-800 lg:text-5xl">대표이사 인사말</h2>
    <p class="text-center text-lg font-semibold tracking-[-0.72px] text-gray-500 lg:text-2xl">
      전자 기술과 공간의 융합으로<br class="lg:hidden" />새로운 가치를 만드는 일렉테리어입니다.
    </p>
  </div>
  <div
    class="lg:aspect-none flex aspect-square w-full min-w-0 items-center justify-center bg-[url('/assets/about/logo-bg.jpg')] bg-cover bg-[center_70%] lg:h-[740px]"
  >
    <img src="/assets/about/logo.svg" alt="일렉테리어 로고" class="h-[100px] lg:h-[280px]" />
  </div>

  <!-- 인사말 + 이미지 -->
  <div class="container flex flex-col px-4 text-center md:text-start">
    <!-- 텍스트 -->
    <div class="flex flex-col space-y-4 lg:space-y-8">
      <p class="text-8 font-semibold tracking-[-1.28px] text-gray-800 2xl:text-[68px]">
        전자 기술과 공간의<br class="md:hidden" />
        융합으로<br class="hidden md:flex" />
        새로운 가치를<br class="md:hidden" />
        만듭니다.
      </p>
      <h4 class="2xl:text-8 text-2xl font-bold tracking-[-0.96px] text-gray-800">
        Where technology meets space, new stories begin
      </h4>
      <div class="flex flex-col md:flex-row md:gap-10">
        <div
          class="2xl:text-7 space-y-8 text-xl font-semibold tracking-[-0.8px] text-gray-500 md:flex-1 2xl:space-y-16 2xl:font-bold 2xl:tracking-[-1.12px]"
        >
          <p>안녕하세요.<br />전기로 꾸민 공간 일렉테리어 대표 송준호 입니다.</p>
          <p>
            4차 산업시대 전자 기기를 활용하여<br />공간(space)에 활력을 불어넣고<br />가치를 높이는 일을 최선으로 하고
            있습니다.
          </p>
          <p>
            신속한 응대, 최적의 가격으로<br />귀사의 사업경쟁력을 높이며<br />함께 성장하는 것을 목표로 두고 있습니다.
          </p>
          <p>나아가 모든 구매 과정에<br />편안함과 만족감을 드리고자 노력합니다.</p>
          <p>저희 일렉테리어 임직원들은 각 분야별 전문가로<br />최고의 솔루션을 제공하고 있습니다.</p>
          <p>함께 성장하는 성취와 기쁨<br />이제 일렉테리어와 함께 하시길 바랍니다.</p>
        </div>

        <div class="relative flex items-center justify-center md:flex-1">
          <div class="ellipse-mo absolute top-15 z-0 md:top-20 md:left-20 2xl:top-35 2xl:left-50"></div>
          <img
            src="/assets/about/ceo.svg"
            alt="대표 사진"
            class="relative z-10 mr-16 w-[273px] md:mr-0 md:w-[360px] 2xl:ml-20 2xl:w-[722px]"
          />
          <div class="absolute bottom-5 left-5 z-20 text-start md:left-0">
            <p class="md:text-7 font-bold text-gray-800 2xl:text-[40px]">송 준 호</p>
            <p class="text-primary-500 md:text-5 2xl:text-8 text-xs font-bold tracking-[-0.485px]">일렉테리어 대표</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
