@import './app/styles/font.css';
@import 'tailwindcss';

@theme {
  /* Primary */
  --color-primary: oklch(19.3% 0.34 264.7);
  --color-primary-100: oklch(76.7% 0.07 261.2);
  --color-primary-200: oklch(63.5% 0.16 263.1);
  --color-primary-300: oklch(51.2% 0.22 263.8);
  --color-primary-400: oklch(39.6% 0.28 264.5);
  --color-primary-500: oklch(19.3% 0.34 264.7);
  --color-primary-600: oklch(15.2% 0.31 264.3);
  --color-primary-700: oklch(12% 0.27 263.9);
  --color-primary-800: oklch(8.5% 0.22 263.5);
  --color-primary-900: oklch(5% 0.18 263.2);

  /* Secondary */
  --color-secondary: oklch(25.6% 0.25 241.5);
  --color-secondary-100: oklch(76% 0.05 241);
  --color-secondary-200: oklch(62.5% 0.14 241.2);
  --color-secondary-300: oklch(50.1% 0.2 241.3);
  --color-secondary-400: oklch(37.8% 0.25 241.4);
  --color-secondary-500: oklch(25.6% 0.25 241.5);
  --color-secondary-600: oklch(20.3% 0.21 241.1);
  --color-secondary-700: oklch(15.5% 0.18 240.8);
  --color-secondary-800: oklch(10.7% 0.14 240.5);
  --color-secondary-900: oklch(6% 0.1 240.2);
  --color-secondary-950: oklch(3% 0.05 239.9);

  --color-white: oklch(100% 0 0);

  /* pretendard */
  --font-pretendard: 'Pretendard', sans-serif;
  --font-suit: 'SUIT', sans-serif;

  /* 폰트 크기 */
  --text-1: 4px;
  --text-2: 8px;
  --text-3: 12px;
  --text-4: 16px;
  --text-5: 20px;
  --text-6: 24px;
  --text-7: 28px;
  --text-8: 32px;
  --text-9: 36px;
}

* {
  line-height: 150%;
}

/* 컨테이너 설정 */
@utility container {
  padding-inline: 10px;
  margin-inline: auto;
}

@utility container {
  padding-inline: 10px;
  margin-inline: auto;
}

.cdk-dialog-container {
  border-radius: 1.5rem;
  overflow: hidden; /* 둥근 모서리 유지 */
  padding: 0;
}

.modal-content {
  max-height: 90vh; /* 모달 최대 높이 제한 */
  overflow-y: auto;
  position: relative;
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

@import 'ngx-toastr/toastr';
