<article class="flex flex-col gap-10 px-4 pb-10 lg:gap-[100px] lg:pb-[100px]">
  <section class="container flex flex-col items-center gap-4 px-4">
    <p class="text-primary-500 lg:text-7 text-xl font-black tracking-[-0.8px] lg:tracking-[-1.12px]">Inquiry</p>
    <h2 class="text-7 text-center font-extrabold tracking-[-1.12px] text-gray-800 lg:text-5xl lg:tracking-[-1.92px]">
      제작/견적 문의
    </h2>
    <p class="text-center text-lg font-semibold tracking-[-0.72px] text-gray-500 lg:text-2xl lg:tracking-[-0.96px]">
      서비스에 대해 문의해주세요.<br />
      접수 후 24시간 이내에 안내드리겠습니다.
    </p>
  </section>
  <app-inquiry-form />
</article>
