<!--footer-->
<footer class="w-full bg-zinc-900">
  <div class="container">
    <div class="flex flex-col">
      <div class="flex flex-col gap-5 px-4 py-10 lg:px-[1px] lg:py-[50px]">
        <div>
          <img src="assets/about/footer-logo.png" alt="일렉테리어 로고" />
        </div>
        <div class="flex flex-col gap-1 text-xs tracking-[-0.48px] text-gray-400">
          <div class="flex items-center gap-2">
            <span>대표자 : 송준호</span>
            <div class="h-[9px] w-px bg-gray-300"></div>
            <span>상호 : 일렉테리어</span>
            <div class="h-[9px] w-px bg-gray-300"></div>
            <a routerLink="/policies/term" class="cursor-pointer underline hover:text-white hover:decoration-white"
              >이용약관</a
            >
            <div class="h-[9px] w-px bg-gray-300"></div>
            <a routerLink="/policies/privacy" class="cursor-pointer underline hover:text-white hover:decoration-white"
              >개인정보처리방침</a
            >
          </div>
          <div class="flex flex-col items-start gap-2 lg:flex-row lg:items-center">
            <div class="flex items-center gap-2">
              <span>사업자등록번호 : 123-12-12345</span>
              <div class="h-[9px] w-px bg-gray-300"></div>
            </div>
            <span>통신판매업신고 : 1234-서울광진-1303호</span>
          </div>

          <div class="flex flex-col items-start gap-2 lg:flex-row lg:items-center">
            <div class="flex items-center gap-2">
              <span>주소 : 서울시 서초구 강남대로 275 강남 MAIN TOWER 5층, 503호</span>
              <div class="h-[9px] w-px bg-gray-300"></div>
            </div>
            <span>개인정보보호책임자 : 송준호</span>
          </div>

          <div class="flex items-center gap-2">
            <span class="hidden lg:flex">고객문의</span>
            <div class="hidden h-[9px] w-px bg-gray-300 lg:flex"></div>
            <p>이메일 : help{{ '@' }}Biddly</p>
            <p>고객센터 : 070-1234-1234 (10:00~18:00)</p>
          </div>
        </div>

        <div class="text-xs font-bold tracking-[-0.48px] text-gray-200">
          <p>Copyright ⓒ 2025 일렉테리어 Inc. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
