<div class="flex gap-2">
  <button type="button" class="rounded p-1 hover:bg-gray-200" title="글꼴 크기">
    <img src="https://api.iconify.design/lucide/type.svg" alt="글꼴" width="20" height="20" />
  </button>
  <button type="button" class="rounded p-1 hover:bg-gray-200" title="기울임">
    <img src="https://api.iconify.design/lucide/italic.svg" alt="기울임" width="20" height="20" />
  </button>
  <button type="button" class="rounded p-1 hover:bg-gray-200" title="굵게">
    <img src="https://api.iconify.design/lucide/bold.svg" alt="굵게" width="20" height="20" />
  </button>
  <button type="button" class="rounded p-1 hover:bg-gray-200" title="밑줄">
    <img src="https://api.iconify.design/lucide/underline.svg" alt="밑줄" width="20" height="20" />
  </button>
  <button type="button" class="rounded p-1 hover:bg-gray-200" title="링크">
    <img src="https://api.iconify.design/lucide/link.svg" alt="링크" width="20" height="20" />
  </button>
  <button type="button" class="rounded p-1 hover:bg-gray-200" title="이모지">
    <img src="https://api.iconify.design/lucide/smile.svg" alt="이모지" width="20" height="20" />
  </button>
  <button type="button" class="rounded p-1 hover:bg-gray-200" title="이미지">
    <img src="https://api.iconify.design/lucide/image.svg" alt="이미지" width="20" height="20" />
  </button>
  <button type="button" class="rounded p-1 hover:bg-gray-200" title="번호 목록">
    <img src="https://api.iconify.design/lucide/list-ordered.svg" alt="번호목록" width="20" height="20" />
  </button>
  <button type="button" class="rounded p-1 hover:bg-gray-200" title="글머리 목록">
    <img src="https://api.iconify.design/lucide/list.svg" alt="목록" width="20" height="20" />
  </button>
  <button type="button" class="rounded p-1 hover:bg-gray-200" title="왼쪽 정렬">
    <img src="https://api.iconify.design/lucide/align-left.svg" alt="왼쪽정렬" width="20" height="20" />
  </button>
  <button type="button" class="rounded p-1 hover:bg-gray-200" title="가운데 정렬">
    <img src="https://api.iconify.design/lucide/align-center.svg" alt="가운데정렬" width="20" height="20" />
  </button>
  <button type="button" class="rounded p-1 hover:bg-gray-200" title="오른쪽 정렬">
    <img src="https://api.iconify.design/lucide/align-right.svg" alt="오른쪽정렬" width="20" height="20" />
  </button>
</div>
