<article class="flex w-full flex-col lg:gap-[100px]">
  <!-- ABOUT 헤더 -->
  <section class="relative h-full w-full overflow-hidden">
    <!-- 배경 이미지 -->
    <img src="/assets/about/hero-bg.jpg" alt="ABOUT 배경" class="absolute inset-0 h-full w-full object-cover" />
    <!-- 내용물 -->
    <div class="relative z-10 container flex h-full flex-col items-start justify-center gap-4 py-20 lg:py-[100px]">
      <p class="text-primary-500 lg:text-7 text-xl font-black tracking-[-0.8px] lg:tracking-[-1.12px]">ABOUT</p>
      <p
        class="text-2xl font-extrabold tracking-[-0.96px] text-gray-800 lg:text-[40px] lg:font-bold lg:tracking-[-1.6px]"
      >
        기술과 공간의 가치를 연결하는<br />
        전기 인테리어 전문기업,<br class="lg:hidden" />
        일렉테리어입니다.
      </p>
    </div>
  </section>
  <app-tabs-section />
</article>
