<label for="fileInput" class="flex flex-col gap-2">
  @if (label()) {
    <span class="text-sm font-semibold"> {{ label() }} <span class="font-extrabold text-blue-600">*</span> </span>
  }
  @if (recommendedSize()) {
    <div class="mr-auto rounded-md bg-blue-100 px-2 py-1">
      {{ recommendedSize() }}
    </div>
  }

  <!-- 드래그 & 드롭 영역 -->
  <div
    role="button"
    tabindex="0"
    class="flex w-full cursor-pointer flex-col items-center gap-3 rounded-lg border border-dashed border-gray-300 p-8 text-center"
    (click)="openFileDialog()"
    (keydown.enter)="openFileDialog()"
    (keydown.space)="openFileDialog()"
    (dragover)="$event.preventDefault()"
    (drop)="onFileDrop($event)"
  >
    <img src="/assets/download.svg" alt="파일 첨부 아이콘" class="size-6 lg:size-8" />
    <p class="tracking-[-0.64px] text-gray-800">사진 또는 파일을 드래그 할 수 있어요</p>
    <input #fileInput type="file" class="hidden" (change)="onFileSelected($event)" />
  </div>

  <!-- 선택 또는 기존 파일 미리보기 -->
  @if (displayedFile) {
    <div class="flex flex-1 items-center justify-between rounded-md border border-gray-300 p-2">
      <div class="flex items-center gap-2">
        <img
          [src]="selectedFile() ? previewUrl() : existingFile()?.url"
          alt="미리보기 이미지"
          class="h-10 w-14 rounded object-cover"
        />
        <span>{{ displayedFile.name }}</span>
      </div>

      <button
        type="button"
        (click)="removeFile()"
        class="flex h-8 w-8 cursor-pointer items-center justify-center rounded hover:bg-gray-100"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="3" y1="3" x2="13" y2="13" />
          <line x1="13" y1="3" x2="3" y2="13" />
        </svg>
      </button>
    </div>
  }
</label>
